<div id="splash">
  <div id="mainSplash">

    <div class="ui huge icon header">

      <div class="ui huge icon header inverted">
        <i class="circular configure icon "></i> Fix. Shit. Today.
      </div>

    </div>

  </div>
</div>

<div class="signin_and_login_form_wrapper">
  <div class="signin_and_login_form">
  <!--   <h2>Log in</h2> -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field ui form">
        <%= f.label :email %><br />
        <p class="splash_field"><%= f.email_field :email, autofocus: true %></p>
      </div>

      <div class="field ui form">
        <%= f.label :password %><br />
        <p class="splash_field"><%= f.password_field :password, autocomplete: "off" %></p>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field ui form">
          <br/>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions ui form">
        <br />
      </div>
  </div>
      <%= f.submit "Log in" %>
    <% end %>
      </br>
    <%= render "devise/shared/links" %>
</div>
