<!DOCTYPE html>
<html>
<head>
  <title>Fixstart</title>
  <!-- socket.io -->
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container">

  <!-- HEADER -->
  <% unless @splash %>
    <div id="header">
      <div id="mainHead">
        <% if user_signed_in? %>
          <%= react_component('FixedMenuTemplate', {prerender: true}) %>
        <% end %>

        <div class="ui huge icon header inverted">
          <i class="circular configure icon inverted"></i> Fix. Shit. Today.
        </div>

        <h2 class="ui header inverted">
          <i class="configure icon inverted"> </i> Fix. Shit. Today.
        </h2>

      </div>
      <img id="mainImage" src="http://i.imgur.com/L65HE0g.jpg" />
    </div>
  <% end %>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <!-- HEADER -->



  <!-- body content -->
  <% if @splash %>
    <div id="splash_wrapper">
      <%= yield %>
    </div>

  <% else %>
    <div id="content">
      <%= yield %>
    </div>
  <% end %>
  <!-- body content -->



  <!-- FOOTER -->
  <div id="footer">
    <div class="ui grid three column stackable">

      <div class="column">
        <div class="ui horizontal icon divider">
          <i class="circular list icon"></i>
        </div>

        <div class="ui list">

          <a href="/issues/new" class="item">
            <i class="plus icon"></i>
            Submit an Issue
          </a>

          <a href="/dashboard" class="item">
            <i class="home icon"></i>
            Dashboard
          </a>

          <a href="/team" class="item">
            <i class="configure icon"></i>
            About Us
          </a>

        </div>
      </div>

      <div class="column">
        <div class="ui horizontal icon divider">
          <i class="circular configure icon"></i>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore mag
        </p>
      </div>

      <div class="column">
        <div class="ui horizontal icon divider">
          <i class="circular configure icon"></i>
        </div>
        <%= react_component('StreamFooter', {streamIssues: Issue.package_stream_issues, prerender: true}) %>
      </div>

    </div>
  </div>
  <!-- FOOTER -->
</div>

</body>

</html>
