<!DOCTYPE html>
<html>
<head>
  <title>Fixstart</title>
  <!-- socket.io -->
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <!-- HEADER -->
  <div id="header">
    <div id="mainHead">
      <% if user_signed_in? %>
        <%= react_component('FixedMenuTemplate', {prerender: true}) %>
      <% end %>

      <div class="ui huge icon header inverted">
        <i class="circular configure icon inverted"></i> Fix. Shit. Today.
      </div>

      <h2 class="ui header inverted">
        <i class="configure icon inverted"> </i> Fix. Shit. Today.
      <h2>

    </div>
    <img id="mainImage" src="assets/header8.png" />
  </div>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <!-- HEADER -->



  <!-- body content -->
  <%= yield %>
  <!-- body content -->


  <!-- FOOTER -->
  <div id="footer">
    <div class="ui grid three column">

      <div class="column">
        <div class="ui list">

          <a href="#" class="item">
            <i class="plus icon"></i>
            Submit an Issue

          <a href="#" class="item">
            <i class="user icon"></i>
            Profile

          <a href="#" class="item">
            <i class="home icon"></i>
            Dashboard

          <a href="#" class="item">
            <i class="configure icon"></i>
            Discover

        </div>
      </div>

      <div class="column">

      </div>

      <div class="column">

      </div>

      <div class="column">

      </div>


    </div>
  </div>
  <!-- FOOTER -->

</body>

</html>
