<!DOCTYPE html>
<html>
<head>
  <title>FixStart</title>
  <!-- socket.io -->
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container">

    <!-- HEADER -->
    <% unless @splash_page || @log_in_page  || @sign_up_page %>
      <%= react_component("Header", {prerender: true}) %>
    <% end %>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <!-- HEADER -->

    <!-- BODY CONTENT -->
    <% if @splash_page || @log_in_page || @sign_up_page %>
      <div id="splash_wrapper">
        <%= yield %>
      </div>
    <% else %>
      <div id="content">
        <%= yield %>
      </div>
    <% end %>
    <!-- BODY CONTENT -->

    <!-- FOOTER -->
    <%= react_component("Footer",{streamIssues: Issue.package_stream_issues, environment: Rails.env, prerender: true}) %>
    <!-- FOOTER -->
  </div>

</body>
</html>
